@{
    ViewBag.Title = "Hoş Geldiniz";
}

<div class="container-fluid bg-light vh-100 d-flex align-items-center justify-content-center">
    <div class="row text-center">

        <div class="col-12">
            <h1 class="display-3 text-primary fw-bold">Ozer Kuaför</h1>
            <p class="lead text-secondary">
                Tarzınıza uygun saç stillerini keşfedin, kolayca randevu alın ve en iyi hizmeti deneyimleyin!
            </p>
        </div>

        <div class="col-12 mt-5 text-secondary">
            <p class="small">Berber Randevu Sistemi ile hayatınızı kolaylaştırın. Çünkü tarzınız önemlidir.</p>
        </div>
    </div>
</div>
